<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ENVIRONTMENT" value="LIVE"/>
    <add key="SMTP_Username" value="xxxxxx@anasbimbel"/>
    <add key="SMTP_Password" value="xxxxxxxxxxxx"/>
    <add key="SMTP_Host" value="xxxxxxxxxx"/>
    <add key="SMTP_Port" value="25"/>
    <add key="BaseURL" value="http://www.anasbimbel.com"/>
    <add key="Queue_Name" value=".\private$\anasbimbel.email"/>
    <add key="Timer_Elapse_Time" value="30000"/>
    <add key="Mail_To" value="xxxxxx@gmail.com"/>
    <add key="Mail_To_DisplayName" value="xxxxxxxx"/>
    <add key="Mail_From" value="xxxxxx@anasbimbel.com"/>
    <add key="Mail_From_DisplayName" value="NoReply"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
